In [84]:
# iport dependencies
import pandas as pd
import pprint from pprint

In [85]:
# Read in csv 
covid_data_df = pd.read_csv(r"date,county,state,fips,cases,deaths.csv")

# Convert csv to_json and name covid_data_df
covid_data_df.to_json(r"covid_data.json")
#covid_data_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [86]:
# Create dataFrame for only California 
covid_cali_df = covid_data_df.loc[covid_data_df["state"] == "California"]
#covid_cali_df

              date       county       state    fips  cases  deaths
5       2020-01-25       Orange  California  6059.0      1     0.0
9       2020-01-26  Los Angeles  California  6037.0      1     0.0
10      2020-01-26       Orange  California  6059.0      1     0.0
14      2020-01-27  Los Angeles  California  6037.0      1     0.0
15      2020-01-27       Orange  California  6059.0      1     0.0
...            ...          ...         ...     ...    ...     ...
784449  2020-12-01       Tulare  California  6107.0  21332   312.0
784450  2020-12-01     Tuolumne  California  6109.0   1104     9.0
784451  2020-12-01      Ventura  California  6111.0  20308   185.0
784452  2020-12-01         Yolo  California  6113.0   4930    77.0
784453  2020-12-01         Yuba  California  6115.0   2221    10.0

[15061 rows x 6 columns]

In [ ]:
# Clean data -  remove 'unknown'

In [87]:
covid_cali_df.to_csv("covid_cali.csv")

In [88]:
# Create socalArray for dataFrame with socal counties only
socalArray = ["Inyo", "Kern", "San Luis Obispo", "Santa Barbara", "Ventura", "Los Angeles", "San Bernardino", "Orange", "Riverside", "San Diego", "Imperial"]
socal_data_df = covid_cali_df.loc[covid_cali_df["county"].isin(array)]
socal_data_df.head()

          date       county       state    fips  cases  deaths
5   2020-01-25       Orange  California  6059.0      1     0.0
9   2020-01-26  Los Angeles  California  6037.0      1     0.0
10  2020-01-26       Orange  California  6059.0      1     0.0
14  2020-01-27  Los Angeles  California  6037.0      1     0.0
15  2020-01-27       Orange  California  6059.0      1     0.0

In [89]:
# Confirm that only the 11 socal counties are in dataFrame

socal_data_df.nunique()

date       312
county      11
state        1
fips        11
cases     2332
deaths     905
dtype: int64

In [90]:
duplicates = pd.merge(covid_cali_df, socal_data_df, how= 'inner', left_on=['date', 'county'], right_on=['date', 'county'], left_index=True)
norcal_cali_df = covid_cali_df.drop(duplicates.index)
norcal_cali_df

              date         county       state    fips  cases  deaths
36      2020-01-31    Santa Clara  California  6085.0      1     0.0
42      2020-02-01    Santa Clara  California  6085.0      1     0.0
49      2020-02-02  San Francisco  California  6075.0      2     0.0
50      2020-02-02    Santa Clara  California  6085.0      2     0.0
57      2020-02-03  San Francisco  California  6075.0      2     0.0
...            ...            ...         ...     ...    ...     ...
784448  2020-12-01        Trinity  California  6105.0    163     0.0
784449  2020-12-01         Tulare  California  6107.0  21332   312.0
784450  2020-12-01       Tuolumne  California  6109.0   1104     9.0
784452  2020-12-01           Yolo  California  6113.0   4930    77.0
784453  2020-12-01           Yuba  California  6115.0   2221    10.0

[12049 rows x 6 columns]

In [91]:
# List all unique county values 
covid_cali_df.county.unique()

array(['Orange', 'Los Angeles', 'Santa Clara', 'San Francisco',
       'San Diego', 'Humboldt', 'Sacramento', 'Solano', 'Marin', 'Napa',
       'Sonoma', 'Alameda', 'Placer', 'San Mateo', 'Contra Costa', 'Yolo',
       'Fresno', 'Madera', 'Riverside', 'Santa Cruz', 'Shasta',
       'San Joaquin', 'Ventura', 'Stanislaus', 'Tulare', 'San Benito',
       'San Luis Obispo', 'San Bernardino', 'Santa Barbara', 'Nevada',
       'Kern', 'Monterey', 'Mendocino', 'Amador', 'Imperial', 'Butte',
       'El Dorado', 'Siskiyou', 'Yuba', 'Unknown', 'Calaveras', 'Merced',
       'Mono', 'Inyo', 'Sutter', 'Colusa', 'Kings', 'Glenn', 'Tuolumne',
       'Alpine', 'Plumas', 'Del Norte', 'Tehama', 'Lake', 'Mariposa',
       'Trinity', 'Sierra', 'Lassen', 'Modoc'], dtype=object)

In [92]:
covid_cali_df[covid_cali_df['county'] != 'unknown']
conid_cali_df.count

NameError: name 'conid_cali_df' is not defined

In [93]:
covid_cali_df[covid_cali_df.county != 'Unknown']

              date       county       state    fips  cases  deaths
5       2020-01-25       Orange  California  6059.0      1     0.0
9       2020-01-26  Los Angeles  California  6037.0      1     0.0
10      2020-01-26       Orange  California  6059.0      1     0.0
14      2020-01-27  Los Angeles  California  6037.0      1     0.0
15      2020-01-27       Orange  California  6059.0      1     0.0
...            ...          ...         ...     ...    ...     ...
784449  2020-12-01       Tulare  California  6107.0  21332   312.0
784450  2020-12-01     Tuolumne  California  6109.0   1104     9.0
784451  2020-12-01      Ventura  California  6111.0  20308   185.0
784452  2020-12-01         Yolo  California  6113.0   4930    77.0
784453  2020-12-01         Yuba  California  6115.0   2221    10.0

[15052 rows x 6 columns]

In [81]:
covid_cali_df

date       306
county      48
state        1
fips        47
cases     4298
deaths     465
dtype: int64

Exception occurred while processing request: query "county != county" found no data, please alter
Traceback (most recent call last):
  File "/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/dtale/views.py", line 84, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/dtale/views.py", line 1528, in test_filter
    global_state.get_context_variables(data_id),
  File "/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/dtale/query.py", line 73, in run_query
    raise Exception('query "{}" found no data, please alter'.format(query))
Exception: query "county != county" found no data, please alter

2021-01-20 21:13:27,496 - ERROR    - Exception occurred while processing request: query "county != county" found no data, please alter
Traceback (most recent call last):
  File "/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/dtale/views.py", line 84, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/dtale/views.py", line 1528, in test_filter
    global_state.get_context_variables(data_id),
  File "/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/dtale/query.py", line 73, in run_query
    raise Exception('query "{}" found no data, please alter'.format(query))
Exception: query "county != county" found no data, please alter

In [70]:

!pip install dtale

Requirement already satisfied: dtale in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (1.31.0)
Requirement already satisfied: itsdangerous in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (1.1.0)
Requirement already satisfied: requests in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (2.24.0)
Requirement already satisfied: flask-ngrok in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.0.25)
Requirement already satisfied: squarify in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.4.3)
Requirement already satisfied: networkx in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (2.5)
Requirement already satisfied: Flask-Compress in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (1.8.0)
Requirement already satisfied: ppscore in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (1.2.0)
Requirement already satisfied: pandas in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (1.1.2)
Requirement already satisfied: kaleido in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.1.0)
Requirement already satisfied: scipy in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (1.5.2)
Requirement already satisfied: dash-daq in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.5.0)
Requirement already satisfied: dash-bootstrap-components in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.11.1)
Requirement already satisfied: xarray in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.16.2)
Requirement already satisfied: plotly>=4.9.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (4.12.0)
Requirement already satisfied: Flask>=1.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (1.1.2)
Requirement already satisfied: dash-colorscales in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.0.4)
Requirement already satisfied: statsmodels in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.12.1)
Requirement already satisfied: future>=0.14.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.18.2)
Requirement already satisfied: strsimpy in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.2.0)
Requirement already satisfied: scikit-learn>='0.21.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (0.23.2)
Requirement already satisfied: dash>=1.5.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (1.19.0)
Requirement already satisfied: six in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (1.15.0)
Requirement already satisfied: lz4 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dtale) (3.1.3)
Requirement already satisfied: dash-renderer==1.9.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dash>=1.5.0->dtale) (1.9.0)
Requirement already satisfied: dash-html-components==1.1.2 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dash>=1.5.0->dtale) (1.1.2)
Requirement already satisfied: dash-core-components==1.15.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dash>=1.5.0->dtale) (1.15.0)
Requirement already satisfied: dash-table==4.11.2 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from dash>=1.5.0->dtale) (4.11.2)
Requirement already satisfied: Jinja2>=2.10.1 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from Flask>=1.0->dtale) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from Flask>=1.0->dtale) (1.0.1)
Requirement already satisfied: click>=5.1 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from Flask>=1.0->dtale) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from Jinja2>=2.10.1->Flask>=1.0->dtale) (1.1.1)
Requirement already satisfied: retrying>=1.3.3 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from plotly>=4.9.0->dtale) (1.3.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from scikit-learn>='0.21.0->dtale) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from scikit-learn>='0.21.0->dtale) (0.17.0)
Requirement already satisfied: numpy>=1.13.3 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from scikit-learn>='0.21.0->dtale) (1.19.1)
Requirement already satisfied: brotli in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: decorator>=4.3.0 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from networkx->dtale) (4.4.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from pandas->dtale) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from pandas->dtale) (2020.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from requests->dtale) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from requests->dtale) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from requests->dtale) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from requests->dtale) (3.0.4)
Requirement already satisfied: patsy>=0.5 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied: setuptools>=38.4 in /Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages (from xarray->dtale) (49.6.0.post20200925)

In [74]:
import dtale
dtale.show(covid_cali_df, ignore_duplicate=True)

In [77]:
uniqueNorCalCounties=covid_cali_df['county'].unique()

ValueError: No axis named county for object type DataFrame